<h4>
</head>
sign up here
<head>
</h4>
<form action="<%=users_url%>" method="post">
 <%= auth_token %>
  <label for="user_email">Email:</label>
  <input id='user_email' type="text" name="user[email]" value="">
<br>
<br>
  <label for="user_password">Password</label>
  <input id='User_password' type="password" name="user[password]" value="">

  <input type="submit" value="sign up">
  <%= render "shared/errors" %>
</form>

<!-- <img src="https://d1gzo5vknddaf.cloudfront.net/uploads/post/featured_image/2/display_10AlbumsYouNeedForSummer.jpg" alt="sign in home page"> -->
