<img src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/35226014_1681647315263809_3303063574154313728_n.jpg?_nc_cat=0&oh=fdd2157b0116ab4d08ee73e96fad11cc&oe=5BD1CC8E" alt="facebook profile"
height="400px" width="400px" align="right" margin="none" padding="none">
<br>
<br>
<h3>Add your favorite music here: <%=@user.email%> </h3>
<!-- <body background="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/35226014_1681647315263809_3303063574154313728_n.jpg?_nc_cat=0&oh=fdd2157b0116ab4d08ee73e96fad11cc&oe=5BD1CC8E"> -->
